.nav {
    grid-area: nav;
    border-radius: 10px 10px 0 0;
    background-color: #5fd85d;
}

.nav li {
    margin: 10px;
    background-color: #fff;
    list-style-type: none;
    border-radius: 10px;
    /* text-align: center; */
}

.link {
    /* margin-left: 30px; */
    /* text-align: center; */
    padding-left: 30px;
    text-decoration: none;

    color: black;
    display: inline-block;
    width: 100%;


}

/* .active {
    background-color: blue;
} */