* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: "header header" "nav main";
  gap: 15px;

  max-width: 1400px;
  margin: 0 auto;
  /* background-color: #5fd85d; */

  height: 100vh;
}

.content {
  grid-area: main;
  border-radius: 10px 10px 0 0;
  background-color: #5fd85d;
  padding: 10px;
}

nav .active {
  border-radius: 10px;
  background-color: #f5f371;
}

.content .active {
  border-radius: 5px;
  background-color: #1f289e;
}